// Copyright 2022 Manna Harbour
// https://github.com/manna-harbour/miryoku

/ {
  behaviors {
    u_mt: u_mt {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <U_TAPPING_TERM>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
    u_lt: u_lt {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <U_TAPPING_TERM>;
      flavor = "tap-preferred";
      bindings = <&mo>, <&kp>;
    };
    fullscreen_macro: fullscreen_macro {
      compatible = "zmk,behavior-macro";
      label = "Screenshot Full";
      #binding-cells = <0>;
      bindings = <&kp LS(LG(NUMBER_3))>;
    };
    region_macro: region_macro {
      compatible = "zmk,behavior-macro";
      label = "Screenshot Region";
      #binding-cells = <0>;
      bindings = <&kp LS(LG(NUMBER_4))>;
    };
  };
};
